altgraph==0.17.4
asgiref==3.7.2
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
confusable-homoglyphs==3.3.1
cryptography==42.0.2
defusedxml==0.7.1
distlib==0.3.8
Django==5.0.1
django-allauth==0.61.1
django-registration==3.4
django-rest-auth==0.9.5
django-templated-mail==1.1.1
django-widget-tweaks==1.5.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
djoser==2.2.2
filelock==3.13.1
idna==3.6
oauthlib==3.2.2
packaging==24.1
pefile==2023.2.7
pillow==10.2.0
pipenv==2023.11.15
platformdirs==4.1.0
pycparser==2.21
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
PyJWT==2.8.0
python3-openid==3.2.0
pytz==2024.1
pywin32-ctypes==0.2.3
requests==2.31.0
requests-oauthlib==1.3.1
six==1.16.0
social-auth-app-django==5.4.0
social-auth-core==4.5.3
sqlparse==0.4.4
tzdata==2023.4
urllib3==2.2.0
vboxapi==1.0
virtualenv==20.25.0
